/**
 *
 * @package scf-framework
 * @author Steve (6/11/2012)
 * @version 2.2
 */

.wfc-meta-control .add_margin{
   border-bottom: 1px dotted #CCC;
   padding-bottom: 12px;
}
.wfc-meta-control .switch{
    color: #21759B;
}
.wfc-mouse-on-post{
    background-color:#FCF5DD;
    cursor:pointer;
}
.wfc-continue-button{
    float: right;
    clear: both;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }